body {
   margin: 0;
   padding: 0;
   background-image: url('images/pitch.jpg');
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;

}

.player {
   position: absolute;
   text-align: center;
   font-size: 18px; /* Adjust as needed */
   font-family: Arial, Helvetica, sans-serif;
   color: #000; /* Adjust as needed */
}


#player--gk {
   top: 46%;
   left: 5%;
}

#player--def--left {
   top: 15%;
   left: 23.5%;
}

#player--def--mid--left {
   top: 35%;
   left: 23%;
}

#player--def--mid--right {
   top: 60%;
   left: 23%;
}

#player--def--right {
   top: 80%;
   left: 23%;
}

#player--mid--left {
   top: 20%;
   left: 48%;
}

#player--mid--mid {
   top: 45%;
   left: 49.5%;
}

#player--mid--right {
   top: 75%;
   left: 46.5%;
}

#player--att--left {
   top: 20%;
   left: 73%;
}

#player--att--mid {
   top: 45%;
   left: 74%;
}

#player--att--right {
   top: 75%;
   left: 74.5%;
}
